<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings> -->
    <!-- <typeAliases>
        <package name="com.example.demo.products.entity" />
    </typeAliases> -->
    <mappers>
        <mapper resource="mybatis/companyMapper.xml" />
        <mapper resource="mybatis/contactMapper.xml" />
        <mapper resource="mybatis/dealMapper.xml" />
        <mapper resource="mybatis/dealNoteMapper.xml" />
        <mapper resource="mybatis/taskMapper.xml" />
        <mapper resource="mybatis/contactNoteMapper.xml" />
    </mappers>
</configuration>