<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.companyMapper">
    <select id="getFilteredCompany" resultType="com.example.demo.entity.Company">
        SELECT * FROM company
        <where>
            <if test="sales_id != null">sales_id = #{sales_id}</if>
            <if test="sector != null">AND sector = #{sector}</if>
            <if test="sizeMin != null">AND size > #{sizeMin} </if>
            <if test="sizeMax != null">AND size <![CDATA[ < ]]> #{sizeMax} </if>
            <if test="query != null">
                AND 
                (
                    name LIKE '%${query}%'
                    OR
                    city LIKE '%${query}%'
                    OR
                    sector LIKE '%${query}%'
                    OR
                    state_abbr LIKE '%${query}%'
                )
            </if>
        </where>
        ORDER BY ${sort} ${order}
        LIMIT #{take}
        OFFSET #{start}
    </select>

    <select id="getCompanyCount" resultType="String">
        SELECT count(*) FROM company
        <where>
            <if test="sales_id != null">sales_id = #{sales_id}</if>
            <if test="sector != null">AND sector = #{sector}</if>
            <if test="sizeMin != null">AND size > #{sizeMin} </if>
            <if test="sizeMax != null">AND size <![CDATA[ < ]]> #{sizeMax} </if>
            <if test="query != null">
                AND 
                (
                    name LIKE '%${query}%'
                    OR
                    city LIKE '%${query}%'
                    OR
                    sector LIKE '%${query}%'
                    OR
                    state_abbr LIKE '%${query}%'
                )
            </if>
        </where> 
    </select>

    <select id="getManyReferences" resultType="com.example.demo.entity.Company">
        SELECT *
        FROM company
        WHERE id IN
        <foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
          #{id}
        </foreach>
    </select>
</mapper>