<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.DealMapper">
    <select id="getCompanyDeals" resultType="com.example.demo.entity.Deal">
        SELECT *, _index as 'index', _description as description FROM deal
        <where>
            <if test="company_id != null">company_id = #{company_id}</if>
            <if test="sales_id != null">AND sales_id = #{sales_id}</if>
            <if test="type != null">AND type = #{type}</if>
            <if test="stage != null">AND stage = #{stage}</if>
            <if test="query != null">
                AND 
                (
                    _description LIKE '%${query}%'
                    OR
                    name LIKE '%${query}%'
                )
            </if>
        </where>
        ORDER BY ${sort} ${order}
        LIMIT #{take}
        OFFSET #{start}
    </select>

    <select id="getDealCount" resultType="String">
        SELECT count(*) FROM deal
        <where>
            <if test="company_id != null">company_id = #{company_id}</if>
            <if test="sales_id != null">AND sales_id = #{sales_id}</if>
            <if test="type != null">AND type = #{type}</if>
            <if test="stage != null">AND stage = #{stage}</if>
            <if test="query != null">
                AND 
                (
                    _description LIKE '%${query}%'
                    OR
                    name LIKE '%${query}%'
                )
            </if>
        </where>
    </select>

    <select id="getDealsReference" resultType="com.example.demo.entity.Deal">
        SELECT *
        FROM deal
        WHERE id IN
        <foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
          #{id}
        </foreach>
    </select>
</mapper>